.container {
    margin-left: 25%;
    width: 50%;
    border: none;
    color: #faebd7;
    font-size: 15px;
}

div {
    border: 1px solid #eee9e9;
    padding-right: 10px;
}

.elements-box { 
    padding-bottom: 50px;
}

.text {
    color: #eee9e9;
    font-size: 25px;
}

h1 {
    padding-left: 20px;
}

h2 {
    float: right;
}

#title {
    font-size: 50px;
    margin-left: 25%;
}

#weather {
    font-size: 14px;
}

#countryList {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer; cursor: hand;
}

.js-geolocation {
  color: #000000;
  background: rgba(255,255,255,0.80);
  padding: 3px;
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer; cursor: hand;
}

#github-view {
    font-size: 18px;
}